@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin headlines-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  color: rgba(78, 78, 78, 1);

}

@mixin comments-text {
  font-family: Roboto;
font-size: 11px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
color: rgba(124, 124, 124, 1);

}

@mixin footer-text {
  font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
color: 
rgba(185, 185, 185, 1);

}
  
@mixin nav-text {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.100000023841858px;
  text-align: left;
  color: rgba(78, 78, 78, 1);
  text-transform: uppercase;
  position: relative;
  left: 15px;

  &:hover {
      color: 
      rgba(87, 164, 164, 1);
}
}