.container {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    // margin: -8px;
  }
  

.header {
    margin-top: $margin-top;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.header__top__menu {
    height: 37px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.header__top__menu--rectangle {
    height: 37px;   
    width: 44px;
    background-color:black;
    display: flex;
//    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .header__top__menu--rectangle {
        display: none;
    }
}

.header__top__menu--nav {
    width: 182px;
    height: 208px;
    background-color: rgba(245, 245, 245, 1);
    position: absolute;
    left: 139px;
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.header__top__menunav {
    display: none;
}

@media (min-width: 768px) {
    .header__top__menunav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right:  50px;
      
    
    }
}

.header__top__menu--nav--home,
.header__top__menu--nav--aboutus,
.header__top__menu--nav--our,
.header__top__menu--nav--projects,
.header__top__menu--nav--news,
.header__top__menu--nav--features,
.header__top__menu--nav--contacts {
    @include nav-text
    
}

.header__top__menu--home,
.header__top__menu--aboutus,
.header__top__menu--our,
.header__top__menu--projects,
.header__top__menu--news,
.header__top__menu--features,
.header__top__menu--contacts {
  @include nav-text
    
}

.header__top__menu--rectangle--line {
    color: white;
    height: 7px;
    font-size: larger;
    color: white;
    display: flex;
    // display: none;
    align-items: center;
 
}

.header__top__menu--rectangle--cross {
    color: white;
    // display: flex;
    font-size: xx-large;
    display: none;
   
}

.header__intro {
    margin-top: $margin-top;
    width: 100%
   
}

.header__intro__img {
    width: 100%;
    
}

.recent-post {
    margin-top: $margin-top
}

.last-instagram-shot {
    margin-top: 80px;
}

.recent-post__headline {
    margin-top: 20px;
    text-transform: uppercase;
    @include headlines-text;
}

.recent-post__block-one,
.recent-post__block-two,
.recent-post__block-three {
    margin-top: 20px;
}


.recent-post__block-one-text {
    margin-top: 10px;
    @include headlines-text;
}

.recent-post__block-one-comment {
    margin-top: 10px;
    @include comments-text;
}


.recent-post__block-text {
    display: none;
    margin-top: 15px;
}

.text__block {
    margin-left: 15px ;
}

.recent-post__block-four {
    display: none;
    margin-top: 15px;
}

@media (min-width: 768px) {

    .recent-post__block-one,
    .recent-post__block-two,
    .recent-post__block-three,
    .recent-post__block-four {
        max-width: 555px;
        display: flex;
        
    }

    .recent-post__block-text {
        display: flex;
        
    }
  
}


@media (min-width: 1200px) {
    .blocks {
        display: flex;
        flex-wrap: wrap;
    }
}

.headlines {
    display: flex;
}

.last-instagram-shot__headline {
    text-transform: uppercase;
    @include headlines-text;
}

.last-instagram-shot__headline2 {
    text-transform: uppercase;
    @include headlines-text;
    display: none;
}

.last-instagram-shot__photoes {
    display: flex;
    gap: 15px;
    
}

.last-instagram-shot__photo {
    margin-top: 15px;
}

.last-instagram-shot__photo2,
.last-instagram-shot__photo3,
.last-instagram-shot__photo4 {
    display: none;
}


@media (min-width: 768px) {
    .last-instagram-shot__photo2 ,
    .last-instagram-shot__photo3 {
        display: flex;
        margin-top: 15px;
    }
    .last-instagram-shot__photoes {
        width: 250px;
        height: 250px;
    }
    .last-instagram-shot__headline2 {
        display: flex;
        margin-left: 340px;
    }

}

@media (min-width: 1200px) {
    .last-instagram-shot__photo4 {
        display: flex;
        margin-top: 15px;
    }
    .last-instagram-shot__photoes {
        width: 285px;
        height: 285px;
    }
    .last-instagram-shot__headline2 {
        display: flex;
        margin-left: 730px;
    }
}

.footer {
    margin-top: 50px;
    background-color: black;
    min-height: 315px;
    @include flex-centered;
    flex-direction: column;
}

.footer__headline {
    color: 
    rgba(254, 254, 254, 1);
    text-transform: uppercase;
    @include flex-centered;
    
}

.footer__text {
    @include footer-text ;
    text-align: center;
    margin-top: 15px;
}

.footer__icons {
    margin-top: 15px;
}

.footer__street {
    @include footer-text ;
    margin-top: 15px;
}

.footer__number {
    @include footer-text ;
    margin-top: 15px;
}

.footer__mail {
    @include footer-text ;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .footer__info {
        display: flex;
    }
}